# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
.venv/
venv/
env/

# ==========================
# Git
# ==========================
.git/
.gitignore

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Pytest
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# Environment
# ==========================
.env

# ==========================
# Build
# ==========================
dist/
build/
*.egg-info/

# ==========================
# Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# Docker
# ==========================
docker-compose.override.yml

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Alembic cache
# ==========================
alembic/__pycache__/

# ==========================
# Misc
# ==========================
.cache/