# Python
__pycache__/
*.py[cod]
*.pyo

# Environment
.env
.venv/
venv/

# IDE
.vscode/
.idea/

# Notebook
.ipynb_checkpoints/

# Database
*.db

# Python cache
.pytest_cache/
.mypy_cache/

# OS
.DS_Store

# Docker
*.log